<div class="mid_block">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h3>today’s best</h3>
      </div>
      <%= render partial: 'menu/food_small', collection: @foods, as: :food %>
    </div>
  </div>
</div>

