<div class="grid_2">
  <%= image_tag food.image.thumb.url, width: '171px', height: '195px', class: 'img_inner' %>
  <a href="#"><%= food.name %></a>
  <div class="price"><span>¥</span><%= food.price %></div>
</div>
