.container.login {
  width: 40%;
  margin: auto;

  .btn {
    -webkit-border-radius: 12px ! important;
    -moz-border-radius: 12px ! important;
    border-radius: 12px ! important;
    background-color: #c2d7ec;
  }
}
