<footer>
  <div class="container">
    <div class="row">
      <div class="grid_4 fright">
        <div class="socials">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-google-plus"></a>
          <a href="#" class="fa fa-rss"></a>
          <a href="#" class="fa fa-pinterest"></a>
          <a href="#" class="fa fa-linkedin"></a>
        </div>
      </div>
      <div class="grid_4 fright">
        <address>
          Please call for dinner reservation <br>
          <span>+1 800 559 6580</span>
          9863 - 9867 MILL ROAD, <br>
          CAMBRIDGE, MG09 99HT <br>
          FAX: +1 800 559 6580
        </address>
      </div>
      <div class="grid_4">
        <a href="images/index.html" class="f_logo">
          <%= image_tag "f_logo.png" %>
        </a>
        <div class="copy"> &copy; <span id="copyright-year"></span>  <a href="index-5.html">Privacy Policy</a> <!--{%FOOTER_LINK} -->
        </div>
      </div>
    </div>
  </div>
</footer>
