<footer>
  <div class="container">
    <div class="row">
      <div class="grid_4 fright">
        <div class="socials">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-google-plus"></a>
          <a href="#" class="fa fa-rss"></a>
          <a href="#" class="fa fa-pinterest"></a>
          <a href="#" class="fa fa-linkedin"></a>
        </div>
      </div>
      <div class="grid_4 fright">
        <address>
          東京都杉並区天沼３－９－１２<br>
          TEL: 03-3392-5557
        </address>
      </div>
      <div class="grid_4">
        <%= link_to root_path, class: 'f_logo' do %>
          <%= image_tag "lestyle_logo_small.png", width: '234px', height: '55px' %>
        <% end %>
        <div class="copy"> &copy; <span id="copyright-year"></span>  <a href="index-5.html">Privacy Policy</a> <!--{%FOOTER_LINK} -->
        </div>
      </div>
    </div>
  </div>
</footer>
