 <header>
   <div class="menu_block ">
     <div class="container">
       <div class="row">
         <div class="grid_12">
           <nav class="horizontal-nav full-width horizontalNav-notprocessed">
              <ul class="sf-menu">
                <%= header_link('トップ', 'root').html_safe %>
                <%= header_link('About', 'about').html_safe %>
                <%= header_link('メニュー', 'menu', true).html_safe %>
               <li><a href="index-3.html">Blog</a></li>
               <li><a href="index-4.html">Contacts</a></li>
             </ul>
           </nav>
           <div class="clear"></div>
         </div>
       </div>
     </div>
   </div>
</header>
